{% include 'base.html' %}
{% load static %} 



{% block main %}

        {% for obj in total %}
            <div class="col-sm-9 p-3 secondary">
                <div class="secondary">
                  <h5>
                    {{ obj.title }}
                  </h5>
                  
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ obj.content | truncatewords:5}}
                    </a>

                    <ul class="dropdown-menu col-sm-11 p-2 secondary" style="background-color: #F7B984;">
                        <p>
                            {% if obj.photo %}
                                <div class="row">
                                    <div class="col-5.col-sm-" >
                                        {{ obj.content }} <!-- | truncatewords:20   -->
                                    </div>
                                    
                                    <div class="col-7 " style="">
                                        <img src="{{ obj.photo.url }}" style="max-width: 40%;" alt="вроде как тут должна была быть фотка 🤔" >
                                    </div> 
                                </div> 
                            {% else %}
                                {{ obj.content }}
                            {% endif %} 
                        </p>
                    </ul>
                  
                </div>
            </div>
        {% endfor %}

{% endblock main %}