{% include 'base.html' %}

{% block main %}
        {% for obj in total %}
            <div class="col-sm-9 p-3 sticky-top">
                <div class="clearfix">
                
                    {% if obj.photo %}
                        <img src="{{ obj.photo.url }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
                    {% endif %}
                  <h3>
                    {{ obj.title }}
                  </h3>
                  <p>
                    {{ obj.content }}
                  </p>
                </div>
            </div>
        {% endfor %}
{% endblock main %}