{% include 'base.html' %}
{% load static %} 

<main>
        <div class="d-flex justify-content-center">
            <div class="card col-4 mb-4 mt-4" style="background-color: #F7BD6E; ">
                <div class="card-body">
                    <h2 class="text-center">Регистрация аккаунта</h2>
                    <form action="" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="bIz3P1xxc8nihUSxXhkEl8rSmEIZ9fA8Gq1vNLvFrsC0mP9JlYIPRvq5Yf11IT7K">
                        <div class="form-floating flex-fill mb-4">
                            <input type="text" style="background-color: #A9935B;" name="username" class="form-control" placeholder="Имя пользователя" maxlength="150" autofocus="" required="" id="id_username">
                            <label for="id_username">
                                <i class="fa-solid fa-user"></i>  Имя пользователя
                            </label>
                      </div>
                      <div class="form-floating flex-fill mb-4">
                          <input type="email" style="background-color: #A9935B;" name="email" class="form-control" placeholder="Электронная почта" required="" id="id_email">
                          <label for="id_email">
                              <i class="fa-solid fa-envelope"></i>  Электронная почта
                          </label>
                      </div>
                      <div class="form-floating flex-fill mb-4">
                          <input type="password" style="background-color: #A9935B;" name="password1" class="form-control" placeholder="Пароль" required="" id="id_password1">
                          <label for="">
                              <i class="fa-solid fa-key"></i>  Пароль
                          </label>
                      </div>
                        <div class="form-floating flex-fill mb-4">
                          <input type="password" style="background-color: #A9935B;" name="password2" class="form-control" placeholder="Подтвердить пароль" required="" id="id_password2">
                          <label for="">
                              <i class="fa-solid fa-key"></i>  Подтвердите пароль
                          </label>
                      </div>
                        <button class="btn btn-dark" type="submit">Создать</button>
                    </form>
                </div>
                </div>
            </div>
        <div><div style="margin-top: 310px;"></div></div>

</main>