<style>
    /* Добавьте эти стили в ваш CSS */
    body {
        background-color: #A56826;
        padding: 0 40px;
        position: relative;
    }

    body::before, body::after {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        width: 40px;
        background: #D0AF59;
        z-index: 1000;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    body::before {
        left: 0;
        border-right: 1px solid #A9935B;
    }

    body::after {
        right: 0;
        border-left: 1px solid #A9935B;
    }

    .container-wrapper {
        max-width: 1300px;
        margin: 0 auto;
        background-color: black;
        box-shadow: 0 0 0px rgba(0,0,0,0);
        position: relative;
        z-index: 10;
    }
    
    .form-control {
    border: 2px solid #A9935B; /* Цвет как у фона */
    background-color: #A9935B;
    }

    a:hover {
      transform: scale(1.002); /* Увеличение при наведении */
    }

    a {
      transition: transform 0.3s ease; /* Плавная анимация */
    }

    img {
      max-width: 100%; /* Ограничение по ширине контейнера */
      height: auto; /* Сохранение пропорций */
      display: block; /* Убирает лишнее пространство снизу */
      margin: auto; /* Центрирование */
      border-radius: 8px; /* Скругление углов */
      /* box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Тень */
      transition: transform 0.3s ease; /* Плавная анимация */
    }

    img:hover {
      transform: scale(1.02); /* Увеличение при наведении */
    }

    div {
      transition: transform 0.3s ease; /* Плавная анимация */
    }

    div:hover {
      transform: scale(1.002); /* Увеличение на 0.2% */
    }


    .file-input-label:hover {
      background: #0b7dda;
    }

    .file-input-label::before {
      content: "📁"; /* Иконка */
      font-size: 1.2em;
    }

    .btn.btn-dark {
      background-color: #A9935B; /* Основной темный цвет */
      color: black;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      overflow: hidden;
    }

    /* Изменение цвета при наведении */
    .btn.btn-dark:hover {
      background-color: #A9905B; /* Более темный оттенок */
      transform: translateY(-2px);
    }

    /* Эффект при клике */
    .btn.btn-dark:active {
      transform: translateY(1px);
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    #id_photo::file-selector-button {
      background-color: #343a40; /* Основной цвет кнопки */
      color: grey;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-family: inherit;
    }

    #id_photo:hover::file-selector-button {
      background-color: #23272b; /* Цвет при наведении */
      transform: translateY(-1px);
    }

    #id_photo:active::file-selector-button {
      transform: translateY(1px);
    }

</style>